<div class="participation-not-allowed" tabindex="-1">
  Você precisa 
  <%= link_to t("devise_views.menu.login_items.login"),
              user_keycloak_openid_omniauth_authorize_path, rel: "nofollow", method: :post %>
  para continuar.
</div>
