<div data-alert class="callout primary">
  Você precisa 
  <%= link_to t("devise_views.menu.login_items.login"),
              user_keycloak_openid_omniauth_authorize_path, rel: "nofollow", method: :post %>
  para fazer um comentário.
</div>
