<% provide :title, t("devise_views.sessions.new.title") %>
<h2><%= t("devise_views.sessions.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_in" %>


<%= render "devise/shared/links" %>
